In [2]:
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt

In [5]:
traffic_vol = pd.read_csv("Traffic_Volume_Counts_2014-2018_.csv")

In [6]:
traffic_vol.head()

,ID,Segment ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,2,70376,3 Avenue,East 154 Street,East 155 Street,NB,09/13/2014,204.0,177.0,133.0,...,520,611,573,546,582,528,432,328,282,240
1,2,70376,3 Avenue,East 155 Street,East 154 Street,SB,09/13/2014,140.0,51.0,128.0,...,379,376,329,362,418,335,282,247,237,191
2,56,176365,Bedford Park Boulevard,Grand Concourse,Valentine Avenue,EB,09/13/2014,94.0,73.0,65.0,...,280,272,264,236,213,190,199,183,147,103
3,56,176365,Bedford Park Boulevard,Grand Concourse,Valentine Avenue,WB,09/13/2014,88.0,82.0,75.0,...,237,276,223,240,217,198,186,162,157,103
4,62,147673,Broadway,West 242 Street,240 Street,SB,09/13/2014,255.0,209.0,149.0,...,732,809,707,675,641,556,546,465,425,324

In [7]:
accidents = pd.read_csv("NYPD_Motor_Vehicle_Collisions.csv")

/Users/rgalowich/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
accidents.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,05/14/2019,0:00,BRONX,10459,40.817574,-73.896240,"(40.817574, -73.89624)",NaN,NaN,830 FOX STREET,...,Unspecified,NaN,NaN,NaN,4131883,Taxi,Sedan,NaN,NaN,NaN
1,05/14/2019,0:00,BROOKLYN,11208,40.679863,-73.878000,"(40.679863, -73.878)",NaN,NaN,3183 ATLANTIC AVENUE,...,Unspecified,NaN,NaN,NaN,4132121,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
2,05/14/2019,0:00,BROOKLYN,11234,40.611336,-73.921814,"(40.611336, -73.921814)",NaN,NaN,2067 EAST 53 PLACE,...,NaN,NaN,NaN,NaN,4132153,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,05/14/2019,0:00,QUEENS,11369,40.770332,-73.876080,"(40.770332, -73.87608)",94 STREET,DITMARS BOULEVARD,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4131779,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
4,05/14/2019,0:00,NaN,NaN,40.802372,-73.964310,"(40.802372, -73.96431)",AMSTERDAM AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4132079,Sedan,Bike,NaN,NaN,NaN